/* PlanIt header and animation */
#header {
  animation: App-header-spin 2s ease-out;
  animation-iteration-count: 1;
  width:20%;
}

@keyframes App-header-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* general style */
html {
  background: url(./pinmap.jpg) no-repeat;
  background-size: cover;
  background-color: silver;
  background-blend-mode: overlay;
}
.App {
  height: 100%;
}
#mainContainer {
  width: 65rem;
  margin: 1rem auto;
  border-radius: 2.5rem;
  margin-bottom: 3rem;
  padding: .5rem;
  margin-top: -9rem;
}
.previews {
  overflow: scroll;
  margin:1rem;
  padding:1rem;
}
.generalBtn {
  border: none;
  background: none;
  font-size: 1.5rem;
  padding: .5rem;
  color: #575555;
}
.generalBtn:focus {
  outline: 0;
}