#noMatch {
    background: rgba(255,255,255,.5);
    padding: 5rem;
    text-align: center;
    font-family: poppins;
    font-size: 2rem;
    margin-bottom: -3rem;
}
#noMatchWrapper {
    text-align: center;
}
#homeBtn {
    text-decoration: none;
    color: #f88a65;
    border: 3px solid #f88a65;
    padding: 0.5rem 1.25rem;
    font-size: 1.5rem;
    border-radius: 3rem;
}
#homeBtn:hover {
    background: #f88a65;
    color: white;
}
.profileHeader {
    font-family: poppins;
}
#startMonth, #startDay, #startYear, #endMonth, #endDay, #endYear {
    color: grey;
}
#mainContainer {
    width: 100%;
    background:none;
    margin: auto;
    border-radius: 2.5rem;
    margin-bottom: 3rem;
    padding: .5rem;
    padding-left: 0;
    padding-right: 0;
  }
  #signupName, #signupUName, #signupPword, #signinUName, #signinPword, #signinBtn, #signupBtn {
    display: block;
    margin: 0 auto;
    margin-top: .5rem;
    width: 20rem;
    height: 2rem;
    text-align: center;
    border-radius: .25rem;
    border: 1px solid #ddb6a5;
    font-family: poppins;
  }
  #signinForm, #signupForm {
      margin-top: 10%;
  }
  #landingWrapper {
      margin-top: 15%;
  }
  #landingWrapper a {
      text-decoration: none;
  }
#signinBtn, #signupBtn {
    background: radial-gradient(#f1a68c, #ffd4c6);
    color: white;
    font-family: poppins;
    letter-spacing: .15rem;
}
.formLabel {
    text-align: center;
    margin-top: 2rem;
    font-family: poppins;
    color: navy;
    font-size: 1.5rem;
}
#createTripWrapper {
    margin: auto;
    font-size: 1.5rem;
    /* background: url("../../src/placeholderGlobe.jpg"); */
    background-size: cover;
    background-position: center;
    margin-top: -25rem;
    width: 40rem;
    text-align: center;
    border-radius: .5rem;
}
/* #createInnerWrapper {
    background: rgba(0,0,0,.4);
    border-radius: .5rem;
} */
.searchWrapper {
    margin-top: -23rem;
}
.searchLabel {
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: #fa5d25;
}
#destCountry {
    display: block;
    margin: auto;
}
form {
    text-align: center;
}
form input, form select {
    font-size: 1.25rem;
    text-align: center;
    padding: .2rem;
    border: 1px solid grey;
    border-radius: .25rem;
}
#startDate, #endDate, #createDest {
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #fa5d25;
    font-family: poppins;
    margin-bottom: .5rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-shadow: 0 0 0.5rem #fff;
}
#createDest {
    padding-top: 6rem;
}
#signInBtnLink {
    width: 20rem;
    text-decoration: none;
    color: white;
    margin: 0 auto;
}
#signUpBtnLink {
    width: 20rem;
    text-decoration: none;
    color: white;
    margin: 0 auto;
}
.profileWrapper {
    background: rgba(255,255,255,.5);
    width: 40rem;
    margin: auto;
    border-radius: .25rem;
}
.profileHeader {
    text-align: center;
    margin-top: -25rem;
    padding: 2rem;
}
@media only screen and (max-width: 1200px) {
    .postWrapper, #createTripWrapper {
      width: 30rem;
    }
    .postDest, .postFriends, .postDates {
      font-size: 1.5rem;
    }
    #plan, #it {
        font-size: 4rem;
    }
  }
@media only screen and (max-width: 900px) {
    #plan, #it {
        font-size: 18rem;
        margin-bottom: .25rem;
        color: #fa5d259e;
        text-align: center;
        overflow: hidden;
    }
    .postWrapper, #createTripWrapper {
        width: 30rem;
        margin-top: 5.5rem;;
      }
      #header {
        margin-bottom: -10rem;
        margin-top: -2rem;
        position: relative;
        z-index: -10;
        /* margin-left: -11rem;
        margin-right: -11rem; */
        text-align: center;
        overflow: hidden;
        width: 100%;
      }
      #navbar {
          width: 100%;
          text-align: center;
          background-color: rgba(255,255,255,.5);
      }
      .generalBtn {
          display: inline-block;
          font-size: 1.25rem;
      }
      #navbar a {
          display: inline-block;
          padding-top: 1rem;
      }
}
@media only screen and (max-width: 700px) {
    #plan, #it {
        font-size: 12rem;
        color: #fa5d254f;
        text-shadow: 0 0 5px rgba(255,255,255,.5);
    }
    .postWrapper, #createTripWrapper {
        margin-top: 3rem;
    }
    #header {
        margin-bottom: -11rem;
        margin-top: -2rem;
        margin-left: 0;
        margin-right: 0;
    }
    #navbar {
        padding: 0;
    }
    #navbar a {
        padding: 3rem 0.35rem;
    }
    .generalBtn {
        font-size: 1.8rem;
    }
    #mainContainer {
        padding-right: 0;
    }
}
@media only screen and (max-width: 600px) {
    #plan, #it {
        font-size: 12rem;
    }
    #header {
        margin-bottom: -9.75rem;
        margin-top: 0;
    }
    #navbar a {
        padding: 1.75rem 0.35rem;
    }
    .generalBtn {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 500px) {
    #navbar {
        margin-bottom: 0;
    }
    #navbar a {
        display: block;
        border-bottom: 5px dotted rgba(255,255,255,.5);
        padding: 2rem 0.35rem;
    }
    #header {
        margin-bottom: -27.25rem;
    }
    #plan, #it {
        font-size: 13rem;
    }
    .generalBtn {
        font-size: 2rem;
    }
    #mainContainer {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .postDest, .postFriends, .postDates {
        padding-bottom: 0;  
    }
    .innerWrapper, .postWrapper {
        border-radius: 0;
    }
    .postWrapper, #createTripWrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {
    #signinBtn, #signupBtn, #signinUName, #signinPword, #signupName, #signupUName, #signupPword {
      width: 95%;
      font-size: 1rem;
    }
    #plan, #it {
        font-size: 10rem;
    }
    #header {
        margin-bottom: -21.25rem;
    }
  }