#mainContainer {
    width: 100%;
    background:none;
    margin: 1rem auto;
    border-radius: 2.5rem;
    margin-bottom: 3rem;
    padding: .5rem;
    margin-top: -9rem;
    padding-left: 0;
  }
  #signupUName, #signupPword, #signinUName, #signinPword, #signinBtn, #signupBtn {
    display: block;
    margin: 0 auto;
    margin-top: .5rem;
    width: 20rem;
    height: 2rem;
    text-align: center;
  }
  #signinForm, #signupForm {
      margin-top: 15%;
  }
  #landingWrapper {
      margin-top: 15%;
  }
  #landingWrapper a {
      text-decoration: none;
  }
  .interests, #otherInterests input {
    display: inline;
}
#otherInterests {
    width: 10%;
    margin: 0 auto;
}