#mainContainer {
    width: 100%;
    background:none;
    margin: auto;
    border-radius: 2.5rem;
    margin-bottom: 3rem;
    padding: .5rem;
    padding-left: 0;
  }
  #signupName, #signupUName, #signupPword, #signinUName, #signinPword, #signinBtn, #signupBtn {
    display: block;
    margin: 0 auto;
    margin-top: .5rem;
    width: 20rem;
    height: 2rem;
    text-align: center;
    border-radius: .25rem;
    border: 1px solid #ddb6a5;
    font-family: poppins;
  }
  #signinForm, #signupForm {
      margin-top: 10%;
  }
  #landingWrapper {
      margin-top: 15%;
  }
  #landingWrapper a {
      text-decoration: none;
  }
#signinBtn, #signupBtn {
    background: radial-gradient(#e79377, #ffd4c6);
    color: white;
    font-family: poppins;
    letter-spacing: .15rem;
}
.formLabel {
    text-align: center;
    margin-top: 2rem;
    font-family: poppins;
    color: navy;
    font-size: 1.5rem;
}
#createTripWrapper {
    margin: auto;
    font-size: 1.5rem;
    background: url("../../src/placeholderGlobe.jpg");
    background-size: cover;
    background-position: center;
    margin-top: -28rem;
    width: 40rem;
    text-align: center;
    border-radius: .5rem;
}
#createInnerWrapper {
    background: rgba(0,0,0,.4);
    border-radius: .5rem;
}