/* PlanIt Button style */
#planitBtn {
    width: 70%;
    box-shadow: none;
    border: 5px solid #fff;
    background: none;
    color: #fa5d25;
    font-size: 2rem;
    padding: .5rem;
    margin: 1rem;
    font-style: italic;
    font-family: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
}
#planitBtn div {
    display: inline-block;
}
#planitBtn:hover {
    background: #fff;
    text-shadow: none;
}