#nextTripBtn {
    width: 8rem;
    box-shadow: none;
    text-shadow: none;
    border: none;
    background: #eba;
    color: #fff;
    font-size: 1.5rem;
}
#nextTripBtn:hover {
    border:none;
    padding: .5rem;
}