#destCity {
    margin-top: 6rem;
}
#destCountry {
    display: block;
    margin: auto;
}
form {
    text-align: center;
}
form input, form select {
    font-size: 1.25rem;
    text-align: center;
}
#startDate, #endDate {
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #fa5d25;
    font-family: poppins;
    margin-bottom: .5rem;
}