/* style for footer component */
#footer {
    background-color: rgba(255,255,255,.3);
    color: #fa5d25;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: .3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}