/* style for header component */
#plan, #it {
    color: #fa5d25;
    font-size: 5rem;
    text-shadow: 0 0 0.25rem white;
    display: inline-block;
    font-style: italic;
}
#plan {
    font-weight: bold;
}
#header {
    text-align: left;
    margin-top: 1rem;
    margin-left: .15rem;
}